.posts-page {
    padding: 10px;
}

.posts-container {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.posts-title {
    padding: 1rem; /*=16px*/
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
}
